section.contact-us img {
    margin-right: 1rem;
    width: 1.8rem;
}
section.contact-us .title {
    font-size: 2.2rem;
    color: var(--title-color);
    margin-bottom: 1rem;
}

section.contact-us .sub-title {
    color: #a1a1aa;
    margin-bottom: 2rem;
    line-height: 1.65rem;
}

section.contact-us label {
    color: #a1a1aa;
}

section.contact-us #email,
section.contact-us #message {
    all: unset;
    background-color: rgba(63, 63, 70, 0.15);
    border: 1px solid rgb(63, 63, 70);
    color: aliceblue;
    width: 16rem;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    border-radius: 5px;
    transition: 0.3s;
    font-size: 1.1rem;
}

section.contact-us #email:focus,
section.contact-us #message:focus,
section.contact-us #email:hover,
section.contact-us #message:hover {
    border: 1px solid rgb(45, 212, 191);
}

section.contact-us #email:focus,
section.contact-us #message:focus,
section.contact-us #email:hover,
section.contact-us #message:hover {
    border: 1px solid rgb(78, 80, 80);
}


section.contact-us #message {
    min-height: 9rem;
    resize: vertical;
    margin-left: 22px;
}

section.contact-us button {
    background-color: rgba(36, 37, 46, 1);
    color: var(--subtitle-color);
    padding: 0.75rem 2rem;
    text-align: center;
    font-size: 1.05rem;
    border-radius: 5px;
    transition: 0.3s;
    margin-top: 1.8rem;
    border: 1px solid rgb(63, 63, 70);
}

.light section.contact-us button {
    color: white;
}

section.contact-us button:hover {
    scale: 0.97;
    opacity: 1.2;
}
section.contact-us button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

@media (max-width:1200px) {
    section.contact-us .contactAnimation{
        display: none;
    }
}

@media (max-width:600px) {
    section.contact-us .animation {
        display: none;
    }

    section.contact-us form {
        display: flex;
        flex-direction: column;
        width: 85%;
    }

    section.contact-us form div.flex {
        flex-direction: column;
        align-items: start;
    }

    section.contact-us #email,
    section.contact-us #message {
        width: 100%;
        margin-left: 0;
        padding: 0.7rem 0;
        margin-top: 1rem;
    }

    section.contact-us button {
        width: 30%;
        align-self: center;
    }
}